@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "DMsans";
  font-weight: 400;
  src: url("/assets/fonts/DMSans.ttf") format("truetype");
  display: swap;
}

@font-face {
  font-family: "Moranga";
  font-weight: 400;
  src: url("/assets/fonts/Moranga-Regular.otf");
  display: swap;
}

.font-dmsans {
  font-family: "DMsans", "sans-serif";
}

.font-moranga {
  font-family: "Moranga", "sans-serif";
}
